[Desktop Entry]
Type=Application
Name=Microsoft Teams For Linux
Comment=Unofficial Microsoft Teams client for Linux.
GenericName=Teams
Exec=teams-for-linux --enable-features=UseOzonePlatform --ozone-platform=wayland %U
Icon=teams-for-linux
MimeType=x-scheme-handle/msteams;
Categories=Network;Chat;InstantMessaging;Application;
Terminal=false;
StartupNotify=true
Version=0.1.9